{% extends 'verbb-base/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% requireAdmin %}

{% do view.registerAssetBundle('verbb\\socialshare\\assetbundles\\SocialShareAsset') %}

{% set crumbs = [
    { label: 'Settings' | t('app'), url: url('settings') },
    { label: 'Plugins' | t('app'), url: url('settings/plugins') },
    { label: craft.socialShare.getPluginName() | t('social-share'), url: url('social-share/settings') },
] | merge(crumbs ?? []) %}

{% set pageTabs = {
    general: { title: 'General Settings' | t('social-share'), url: url('social-share/settings') },
    providers: { title: 'Providers' | t('social-share'), url: url('social-share/settings/providers') },
} %}

{% set pageTitle = pageTitle ?? false %}
{% if title is not defined and pageTitle %}
    {% set title = pageTitle %}
{% endif %}

{% block settingsMeta %}
    {{ hiddenInput('pluginHandle', 'social-share') }}
{% endblock %}
